// # usually css
.clearfix:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fixeds {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.lineClamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    // -webkit-line-clamp: 2;
    overflow: hidden;
}

.ellip {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.t-scr-wrap {
    width: 100%;
}

.t-active {
    &:active {
        opacity: 0.5;
    }
}

.t-cells {
    .t-cell {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .t-cell__bd {
            flex: 1;
        }
        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            display: block;
            height: 1px;
            background: #e5e5e5;
        }
        &.noLine {
            &::before {
                display: none;
            }
        }
    }
}
